@model CreateMeetingViewModel

@{
    ViewData["Title"] = "Schedule new meeting";
    SelectList movieList = new SelectList(Model.SandlerMovies, nameof(SandlerMovie.Id), nameof(SandlerMovie.Title));
}

<div class="container min-w-full bg-blue-100 pt-2 pb-8">
    <div class="w-max px-8 py-4 mx-auto mt-16 bg-white rounded-lg shadow-lg dark:bg-gray-800">
        <div class="my-4">
            <p class="text-center text-3xl font-bold text-gray-800 dark:text-white">Schedule Meeting</p>
        </div>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
            <div class="flex justify-between">
                <div class="form-group">
                    <label asp-for="MeetingDate" class="control-label"></label>
                    <input type="date" asp-for="MeetingDate" class="form-control" />
                    <span asp-validation-for="MeetingDate" class="text-danger"></span>
                </div>

                <select asp-for="SandlerMovieId" asp-items="movieList" class="flex-1 w-max text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500">
                    <option value="">Select Movie</option>
                </select>

            </div>
            <div class="flex justify-right">
                <button type="submit" class="border-b-2 mt-6 bg-blue-100 border-blue-300 text-blue-500 hover:border-blue-500 hover:shadow-lg transform hover:-translate-y-1 hover:scale-105 font-bold py-2 px-4 rounded ml-auto">Schedule Meeting</button>
                <a asp-action="Index" class="border-b-2 mt-6 bg-blue-100 border-blue-300 text-blue-500 hover:border-blue-500 hover:shadow-lg transform hover:-translate-y-1 hover:scale-105 font-bold py-2 px-4 rounded ml-auto">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
